:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#selection{
  margin-right: 3rem;
  text-align: right;
  margin-bottom: 2rem;
}
#forecast {
  display: flex;
  justify-content: center;
  }
#welcome, #forecast{
  text-align: center;
  margin-bottom: 2rem;
}

#forecast > p{
  padding-right:3px;
}
#temp{
  font-size: 2rem;
  font-weight: 600;
}
.cityImg{
  width: 200px;
  height: 200px;
}
#weather-icon{
  display: flex;
  
  justify-content: center;
}
.wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#weather-icon > h2{
  display: flex;
  align-items: center;
  margin-right: 1em;
}